@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap')
@import 'fontello.css'

/* SASS */
/* basic */
$first-color: #FED100
$second-color: #FFFFFF
$third-color: #333333

*
	margin: 0
	padding: 0
	font-family: 'Montserrat'
	font-style: normal

a
	text-decoration: none

button
	text-decoration: none
	background-color: $second-color
	border: none
	cursor: pointer
.basic_30px
	font-weight: 600
	font-size: 30px
	line-height: 37px
.title
	font-weight: 600
	font-size: 30px
	line-height: 37px
.description
	font-weight: 600
	font-size: 24px
	line-height: 29px
.text
	font-size: 16px
	line-height: 130.4%
	color: $third-color
.btn-order
	vertical-align: middle
	text-align: center
.btn-order_2
	padding: 13px 64px
	border: 1px solid $third-color
	background: none
.basic__16px
	font-weight: 500
	font-size: 16px
	line-height: 21px
.basic__18px
	font-weight: 500
	font-size: 18px
	line-height: 22px
.basic__20px
	font-weight: 500
	font-size: 20px
	line-height: 24px
.basic__30px
	font-weight: 600
	font-size: 30px
	line-height: 37px
/* block "Autopark" */
.autopark
	display: flex
	justify-content: center
	flex-direction: column
	text-align: center
	&__header
		margin-top: 102px
	&__title
	&__description
		margin-top: 15px
	&__list
		margin-top: 60px
		margin-left: 25%
		margin-right: 25%
		display: flex
		align-items: center
		justify-content: space-around
		flex-direction: row
		text-align: center
		a
			padding: 13px 64px
			border: 1px solid #EBEBEB
			color: $third-color
			&:hover,
			&:focus,
			&:active
				border: 1px solid $first-color
	&__body
		margin-top: 47px
		display: flex
		justify-content: center
		flex-direction: row
		align-items: center
	&__slider
		display: flex
		justify-content: space-between
		align-items: center
	&__arrow
		padding: 15px
		font-family: 'fontello'
		font-size: 18px
		color: #000
	&__arrow-left
		margin-right: 96px
		&:after
			content: '\e800'
	&__arrow-right
		margin-left: 96px
		&:after
			content: '\e801'
	&__item
		display: flex
		justify-content: center
		flex-direction: row
		align-items: flex-start
		text-align: left
		img
			max-width: 100%
			width: 100%
			min-width: 321px
	&__specifications
		margin-top: 50px
		display: flex
		justify-content: flex-start
		flex-direction: column
		h4
			margin-bottom: 37px
			font-weight: 600
			font-size: 24px
			line-height: 29px
			color: $third-color
			color: $third-color
		p
			&:before
				margin-right: 15.57px
				font-family: 'fontello'
				font-size: 18px
				content: '\e805'
	&__text
		display: flex
		flex-direction: column
		justify-content: space-between
		min-height: 168px
		&-hide
			display: none
	&__slider-mobile
		display: none
		flex-direction: row
		justify-content: space-between
		button
			display: block
			width: 10px
			height: 10px
			border-radius: 50%
			background-color: #000
			cursor: pointer
			&:hover,
			&:focus,
			&:active
				border: 1px solid $first-color
	&__btn-order
		margin-top: 35px
		padding: 14px 77px
		background-color: $first-color
		border: 0
		cursor: pointer
		color: $third-color
.hide_item
	display: none
@media screen and (max-width: 1024px)
	/* block "Autopark" */
	.autopark
		&__title
			font-size: 20px
			line-height: 24px
		&__description 
			display: none
		&__list
			margin-left: 5%
			margin-right: 0
			a
				padding: 0px 0px
				font-weight: 500
				font-size: 16px
				line-height: 20px
				border: none
				color: $third-color
				&:hover,
				&:focus,
				&:active
					border: none
					border-bottom: 1px solid $first-color
		&__body
			flex-direction: column 
		&__arrow
			display: none
		&__content
			flex-direction: column
		&__item
			text-align: center
			align-items: center
			flex-direction: column
			img
				order: 1
		&__specifications
			order: 2
			flex-direction: column
			h4
				display: none
			p
				font-size: 12px
				line-height: 15px
				&:before
					content: ''
		&__text
			display: none
			&-hide
				display: block
		&__slider-mobile
			margin-top: 30px
			display: flex
		&__btn-order
			font-size: 20px
			line-height: 24px