@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import 'fontello.css';
/* SASS */
/* basic */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.basic_30px {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.text {
  font-size: 16px;
  line-height: 130.4%;
  color: #333333;
}

.btn-order {
  vertical-align: middle;
  text-align: center;
}

.btn-order_2 {
  padding: 13px 64px;
  border: 1px solid #333333;
  background: none;
}

.basic__16px {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.basic__18px {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.basic__20px {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.basic__30px {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

/* block "Autopark" */
.autopark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.autopark__header {
  margin-top: 102px;
}
.autopark__description {
  margin-top: 15px;
}
.autopark__list {
  margin-top: 60px;
  margin-left: 25%;
  margin-right: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}
.autopark__list a {
  padding: 13px 64px;
  border: 1px solid #EBEBEB;
  color: #333333;
}
.autopark__list a:hover, .autopark__list a:focus, .autopark__list a:active {
  border: 1px solid #FED100;
}
.autopark__body {
  margin-top: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.autopark__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.autopark__arrow {
  padding: 15px;
  font-family: "fontello";
  font-size: 18px;
  color: #000;
}
.autopark__arrow-left {
  margin-right: 96px;
}
.autopark__arrow-left:after {
  content: "";
}
.autopark__arrow-right {
  margin-left: 96px;
}
.autopark__arrow-right:after {
  content: "";
}
.autopark__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}
.autopark__item img {
  max-width: 100%;
  width: 100%;
  min-width: 321px;
}
.autopark__specifications {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.autopark__specifications h4 {
  margin-bottom: 37px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  color: #333333;
}
.autopark__specifications p:before {
  margin-right: 15.57px;
  font-family: "fontello";
  font-size: 18px;
  content: "";
}
.autopark__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 168px;
}
.autopark__text-hide {
  display: none;
}
.autopark__slider-mobile {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.autopark__slider-mobile button {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}
.autopark__slider-mobile button:hover, .autopark__slider-mobile button:focus, .autopark__slider-mobile button:active {
  border: 1px solid #FED100;
}
.autopark__btn-order {
  margin-top: 35px;
  padding: 14px 77px;
  background-color: #FED100;
  border: 0;
  cursor: pointer;
  color: #333333;
}

.hide_item {
  display: none;
}

@media screen and (max-width: 1024px) {
  /* block "Autopark" */
  .autopark__title {
    font-size: 20px;
    line-height: 24px;
  }
  .autopark__description {
    display: none;
  }
  .autopark__list {
    margin-left: 5%;
    margin-right: 0;
  }
  .autopark__list a {
    padding: 0px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: #333333;
  }
  .autopark__list a:hover, .autopark__list a:focus, .autopark__list a:active {
    border: none;
    border-bottom: 1px solid #FED100;
  }
  .autopark__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .autopark__arrow {
    display: none;
  }
  .autopark__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .autopark__item {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .autopark__item img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .autopark__specifications {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .autopark__specifications h4 {
    display: none;
  }
  .autopark__specifications p {
    font-size: 12px;
    line-height: 15px;
  }
  .autopark__specifications p:before {
    content: "";
  }
  .autopark__text {
    display: none;
  }
  .autopark__text-hide {
    display: block;
  }
  .autopark__slider-mobile {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .autopark__btn-order {
    font-size: 20px;
    line-height: 24px;
  }
}